{% if site.giscus.enabled %}
<div class="giscus-comments">
  <h3 class="comments-title">💬 Comments & Discussion</h3>
  <div class="giscus-container">
    <script src="https://giscus.app/client.js"
            data-repo="Guoest/Guoest.github.io"
            data-repo-id="R_kgDOLKOEAg"
            data-category="General"
            data-category-id="DIC_kwDOLKOEAs4CvmcO"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</div>
{% endif %}